.body,html{
    background-color: #353b6d;
}
.app-container{
    display: grid;
    grid-template-columns: repeat(6,100px);
    gap: 20px 130px;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
}
.movie-card{
    width: 170px;
    height: 300px;
    font-size: 13px;
    background-color: #515d8a;
    color: white;
}
.movie-poster{
    width: 170px;
    height: 250px;
}
.movie-info{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 5px;
}
.detail-container{
    position: absolute;
    top: 0;
    width: 170px;
    height: 300px;
    font-size: 10px;
    background-color: black;
    opacity: 0.7;
    color: white;
    overflow: scroll;
}